port {{ observeweaver.network.ports.redisSentinel }}
bind 127.0.0.1 {{ hostvars[inventory_hostname].ansible_host }}
protected-mode yes
sentinel monitor observeweaver {{ groups['redis'] | first }} {{ observeweaver.network.ports.redis }} 2
sentinel auth-pass observeweaver {{ redis_password }}
sentinel down-after-milliseconds observeweaver 5000
sentinel failover-timeout observeweaver 60000
sentinel parallel-syncs observeweaver 1
dir {{ observeweaver_data_root }}/redis
