[Unit]
Description=ObserveWeaver Redis
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=redis
Group=redis
ExecStart={{ observeweaver_redis_install_dir }}/bin/redis-server {{ observeweaver_config_root }}/redis/redis.conf
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
RestartSec=5
LimitNOFILE=65536
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ReadWritePaths={{ observeweaver_data_root }}/redis {{ observeweaver_config_root }}/redis

[Install]
WantedBy=multi-user.target
